In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("loan.csv")

In [8]:
dataset.shape

(9, 10)

In [4]:
dataset.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [5]:
dataset.drop_duplicates(inplace=True)

In [6]:
dataset

,loan_id,Gender,Married,Dependents,Education,self_employed,applicantincome,coapplicant_income,loan_amount,property
0,12.0,male,no,0.0,graduate,no,453453.0,0,232,urban
1,34.0,female,yes,1.0,NaN,yes,5435.0,3434,232,rural
2,5.0,male,NaN,2.0,ungraduate,NaN,4545.0,3,32,rural
3,65.0,NaN,no,NaN,NaN,no,NaN,3434,2,urban
4,767.0,female,yes,2.0,graduate,NaN,NaN,3445,323,rural
5,8.0,NaN,NaN,NaN,NaN,yes,NaN,454,2,urban
6,78.0,female,NaN,1.0,ungraduate,NaN,NaN,343,32,rural
7,NaN,male,yes,0.0,NaN,yes,4545.0,23223,32,urban
8,89.0,NaN,no,NaN,NaN,no,4.0,323,323,rural

In [9]:
dataset.shape    
# no duplicate data

(9, 10)