In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Boston.csv")
dataset.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,House_price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [12]:
dataset.shape

(506, 14)

In [5]:
input_data=dataset.iloc[:,:-1] # all rows but column out of output one 
output_data=dataset["House_price"]

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25) 
#test size can be put by your own choice but mostly 25%

In [11]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((379, 13), (127, 13), (379,), (127,))