In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("loan.csv")

In [28]:
dataset.head(10)

,loan_id,Gender,Married,Dependents,Education,self_employed,applicantincome,coapplicant_income,loan_amount,property
0,12.0,male,no,0.0,graduate,no,453453.0,0,232,urban
1,34.0,female,yes,1.0,NaN,yes,5435.0,3434,232,rural
2,5.0,male,NaN,2.0,ungraduate,NaN,4545.0,3,32,rural
3,65.0,NaN,no,NaN,NaN,no,NaN,3434,2,urban
4,767.0,female,yes,2.0,graduate,NaN,NaN,3445,323,rural
5,8.0,NaN,NaN,NaN,NaN,yes,NaN,454,2,urban
6,78.0,female,NaN,1.0,ungraduate,NaN,NaN,343,32,rural
7,NaN,male,yes,0.0,NaN,yes,4545.0,23223,32,urban
8,89.0,NaN,no,NaN,NaN,no,4.0,323,323,rural

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   loan_id             8 non-null      float64
 1   Gender              6 non-null      object
 2   Married             6 non-null      object
 3   Dependents          6 non-null      float64
 4   Education           4 non-null      object
 5   self_employed       6 non-null      object
 6   applicantincome     5 non-null      float64
 7   coapplicant_income  9 non-null      int64
 8   loan_amount         9 non-null      int64
 9   property            9 non-null      object
dtypes: float64(3), int64(2), object(5)
memory usage: 852.0+ bytes

In [14]:
dataset.select_dtypes(include="float64").columns

Index(['loan_id', 'Dependents', 'applicantincome'], dtype='object')

In [5]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy="mean")

In [16]:
si.fit_transform(dataset[columns])

array([[1.20000e+01, 0.00000e+00, 4.53453e+05],
       [3.40000e+01, 1.00000e+00, 5.43500e+03],
       [5.00000e+00, 2.00000e+00, 4.54500e+03],
       [6.50000e+01, 1.00000e+00, 9.35964e+04],
       [7.67000e+02, 2.00000e+00, 9.35964e+04],
       [8.00000e+00, 1.00000e+00, 9.35964e+04],
       [7.80000e+01, 1.00000e+00, 9.35964e+04],
       [1.32250e+02, 0.00000e+00, 4.54500e+03],
       [8.90000e+01, 1.00000e+00, 4.00000e+00]])

In [17]:
ar=si.fit_transform(dataset[columns])

In [23]:
new_dataset=pd.DataFrame(ar,columns=columns)

In [24]:
new_dataset.isnull().sum()

loan_id            0
Dependents         0
applicantincome    0
dtype: int64

In [27]:
new_dataset

   loan_id  Dependents  applicantincome
0    12.00         0.0         453453.0
1    34.00         1.0           5435.0
2     5.00         2.0           4545.0
3    65.00         1.0          93596.4
4   767.00         2.0          93596.4
5     8.00         1.0          93596.4
6    78.00         1.0          93596.4
7   132.25         0.0           4545.0
8    89.00         1.0              4.0

In [29]:
dataset["loan_id"].mean()

np.float64(132.25)