In [24]:
import pandas as pd

In [49]:
# df=pd.DataFrame({"Size":["s","m","l","Xl","s","m","Xl","l"]})

In [5]:
df

  Size
0    s
1    m
2    l
3   Xl
4    s
5    m
6   Xl
7    l

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
order_size=[["s","m","l","Xl"]]

In [14]:
ol=OrdinalEncoder(categories=order_size)

In [17]:
ol.fit(df[["Size"]])

OrdinalEncoder(categories=[['s', 'm', 'l', 'Xl']])

In [20]:
df["another_size"]=ol.transform(df[["Size"]])

In [21]:
df

  Size  another_size
0    s           0.0
1    m           1.0
2    l           2.0
3   Xl           3.0
4    s           0.0
5    m           1.0
6   Xl           3.0
7    l           2.0

In [26]:
order_data1={"s":0,"m":1,"l":2,"Xl":3}

In [28]:
df["size_en_map"]=df["Size"].map(order_data1)

In [29]:
df

  Size  another_size  size_en_map
0    s           0.0            0
1    m           1.0            1
2    l           2.0            2
3   Xl           3.0            3
4    s           0.0            0
5    m           1.0            1
6   Xl           3.0            3
7    l           2.0            2

In [30]:
dataset=pd.read_csv("loan.csv")

In [33]:
dataset.head(10)

,loan_id,Gender,Married,Dependents,Education,self_employed,applicantincome,coapplicant_income,loan_amount,property
0,12.0,male,no,0.0,graduate,no,453453.0,0,232,urban
1,34.0,female,yes,1.0,NaN,yes,5435.0,3434,232,rural
2,5.0,male,NaN,2.0,ungraduate,NaN,4545.0,3,32,rural
3,65.0,NaN,no,NaN,NaN,no,NaN,3434,2,urban
4,767.0,female,yes,2.0,graduate,NaN,NaN,3445,323,rural
5,8.0,NaN,NaN,NaN,NaN,yes,NaN,454,2,urban
6,78.0,female,NaN,1.0,ungraduate,NaN,NaN,343,32,rural
7,NaN,male,yes,0.0,NaN,yes,4545.0,23223,32,urban
8,89.0,NaN,no,NaN,NaN,no,4.0,323,323,rural

In [34]:
dataset["loan_amount"].unique()

array([232,  32,   2, 323])

In [54]:
dataset["self_employed"].unique()

array(['no', 'yes'], dtype=object)

In [38]:
dataset.fillna({"self_employed":dataset["self_employed"].mode()[0]},inplace=True)

In [41]:
order_data2=[["yes","no"]]

In [43]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
oii=OrdinalEncoder(categories=order_data2)

In [52]:
dataset["is_Employed"]=oii.fit_transform(dataset[["self_employed"]])

In [53]:
dataset

,loan_id,Gender,Married,Dependents,Education,self_employed,applicantincome,coapplicant_income,loan_amount,property,is_Employed
0,12.0,male,no,0.0,graduate,no,453453.0,0,232,urban,1.0
1,34.0,female,yes,1.0,NaN,yes,5435.0,3434,232,rural,0.0
2,5.0,male,NaN,2.0,ungraduate,no,4545.0,3,32,rural,1.0
3,65.0,NaN,no,NaN,NaN,no,NaN,3434,2,urban,1.0
4,767.0,female,yes,2.0,graduate,no,NaN,3445,323,rural,1.0
5,8.0,NaN,NaN,NaN,NaN,yes,NaN,454,2,urban,0.0
6,78.0,female,NaN,1.0,ungraduate,no,NaN,343,32,rural,1.0
7,NaN,male,yes,0.0,NaN,yes,4545.0,23223,32,urban,0.0
8,89.0,NaN,no,NaN,NaN,no,4.0,323,323,rural,1.0

In [55]:
order_size4={"yes":1,"no":5}

In [58]:
dataset["self_employed_in_map"]=dataset["self_employed"].map(order_size4)

In [59]:
dataset

,loan_id,Gender,Married,Dependents,Education,self_employed,applicantincome,coapplicant_income,loan_amount,property,is_Employed,self_employed_in_map
0,12.0,male,no,0.0,graduate,no,453453.0,0,232,urban,1.0,5
1,34.0,female,yes,1.0,NaN,yes,5435.0,3434,232,rural,0.0,1
2,5.0,male,NaN,2.0,ungraduate,no,4545.0,3,32,rural,1.0,5
3,65.0,NaN,no,NaN,NaN,no,NaN,3434,2,urban,1.0,5
4,767.0,female,yes,2.0,graduate,no,NaN,3445,323,rural,1.0,5
5,8.0,NaN,NaN,NaN,NaN,yes,NaN,454,2,urban,0.0,1
6,78.0,female,NaN,1.0,ungraduate,no,NaN,343,32,rural,1.0,5
7,NaN,male,yes,0.0,NaN,yes,4545.0,23223,32,urban,0.0,1
8,89.0,NaN,no,NaN,NaN,no,4.0,323,323,rural,1.0,5